@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* ********** CUSTOM PROPERTIES ********** */
:root {
    --first-color: rgb(25, 236, 25);
    --first-alpha-color: rgba(25, 236, 25, 0.75);
    --second-color: rgb(255, 191, 0);
    --second-alpha-color: rgba(255, 191, 0, 0.75);
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.7);
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --white-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --font: 'Play', sans-serif;
    --header-height: 4rem;
    --bg-sm: url('../img/bg2.png');
    --bg-lg: url('../img/womanback.jpg');
}

/* ********** RESET ********** */
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: var(--black-color);
    color: var(--first-color);
    font-family: var(--font);
    margin: 0;
    background-image: var(--bg-sm);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 3rem;
}

a {
    color: var(--first-color);
    transition: all 0.5s ease-out;
}

a:hover {
    color: var(--second-color);
    opacity: 0.75;
    text-decoration: none;
}

.container,
container2 {
    width: 100vw;
    height: calc(100vh - 2.5rem);
    display: flex;
    align-items: center;
    align-content: center;
}

.english {
    display: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/* ******************** UTILITIES ******************* */

/* TEXT ANIMATION */
.hello-animation {
    line-height: 1;
    font-size: 1rem;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }

    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}


/* ****************** SITE  STYLES ****************** */
.block {
    display: block;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(255, 191, 0, .25);
}

.box-shadow-2 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(25, 236, 25, 0.25);
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: thin solid var(--first-color);
    border-radius: 10px;
}

.cci {
    font-size: 2rem;
    color: var(--first-color);
}

.contact-card>small {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-cards {
    padding: 1rem;
    text-align: center;
}

.ccs {
    display: flex;
    flex-direction: column;
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    color: var(--first-color);
    background-color: var(--black-color);
    margin: 1px auto;
    border: 1px solid var(--first-color);
    border-radius: 10px;
}

.contact-form-response svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}

.form-group *::placeholder {
    color: var(--first-alpha-color);
}

#hello-section,
#resume-section,
#contact-section {
    background-color: var(--black-alpha-color);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem 0.5rem;
    border: 1px solid var(--first-color);
    width: 100%;
}

#hello-section {
    align-self: center;
}

#contact-section {
    margin-top: .15rem;
    border: none;
}

#resume-section {
    border: none;
}

#hi {
    filter: sepia(1);
    border-radius: 50%;
    transition: all 0.5s ease-out;
}

i {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.inf {
    color: var(--first-color);
}

.inf:hover {
    color: var(--second-color);
}

.inf-inverso {
    background-color: var(--first-color);
    color: var(--black-color);
}

.inf-inverso:hover {
    background-color: var(--black-color);
    color: var(--first-color);
    border: 1px solid var(--first-color);
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--black-alpha-color);
    border-bottom: 1px solid var(--first-color);
    resize: none;
}

.form-group input,
.form-group textarea {
    outline: none;
    border: none;
    background-color: var(--black-alpha-color);
    border-bottom: 1px solid var(--first-color);
    resize: none;
}

.modal1#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

nav {
    background-color: var(--black-color);
    width: 100vw;
}

.navbar {
    border-top: solid thick var(--first-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25, 236, 25, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    fill: var(--first-color);
}

.none {
    display: none;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-color: var(--first-color);
    border-radius: 50%;
    border-style: solid;
    margin: 1rem auto;
    transition: all 1s ease-out;
}

.media img {
    display: none;
}

.bajarbtn {
    border: 1px solid var(--black-color);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media a {
    padding: 0 0.1rem;
    text-decoration: none;
}

.social-media i {
    font-size: 1.5rem;
}

.title,
.bottom-line {
    border-top: 1px solid var(--second-color);
    border-bottom: 1px solid var(--second-color);
    padding: .5rem;
    margin: .5rem auto;
    text-align: center;
}

.bottom-line {
    border-top: none;
    margin-top: 1rem;
}

#cv-nav{
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    body {
        background-image: var(--bg-lg);
    }

    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }
    
    .container2  {    
        max-width: 80%;    
        border-radius: 10px;
        margin: 0 auto;
    }   
   
    h1 {
        font-size: 5em;
    }

    #hello-section {
        max-width: 80%;
        border: 0;
    }

    #hi2 {
        filter: sepia(0);
    }

    i {
        margin-right: auto 0.25rem;
    }

    .media>img {
        display: inline;

    }

    .profile-pic {
        display: none;
    }

    #resume-section {
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        justify-content: space-between;
    }

    #contact-section {
        max-width: 900px;
    }

    .container2 {
        max-width: 60%;
    }

    #hello-section {
        max-width: 60%;
        border: 0;
    }

    i {
        margin-right: 0;
    }
}